#orange {
    background-color: #FF8F00 !important;
}

.orange {
    background-color: #FF8F00 !important;
}

a.btn,
button.btn {
    background-color: #181485;
}

a.btn:hover,
button.btn:hover {
    background-color: rgb(24, 20, 133);
}

.text-dark-blue {
    color: #181485 !important;
    letter-spacing: -2px;
    font-size: 32px;
    font-family: "Barlow", sans-serif;
}

nav {
    padding: 0 1rem;
}

.logo {
    width: 120px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-page {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.border {
    border: 1px solid black;
}

.width-100 {
    width: 100%;
}

@media (max-width:768px) {
    .w-50 {
        width: 75% !important;
    }
}